<a href="https://colab.research.google.com/github/manthribharadwaj12/AD/blob/master/Assignment_8_06_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CSE-221710313031-M S S Bharadwaj

Question 1:

Experiment pivot_table() function on given DataFrame

In [0]:
import numpy as np
import pandas as pd
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo", "bar", "bar", "bar", "bar"],
"B": ["one", "one", "one", "two", "two", "one", "one", "two", "two"],
"C": ["small", "large", "large", "small","small", "large", "small", "small","large"],
"D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
"E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
table=pd.pivot_table(df,values=['D','E'],index=["A","B","C"],aggfunc=np.sum)
table

               D   E
A   B   C
bar one large  4   6
        small  5   8
    two large  7   9
        small  6   9
foo one large  4   9
        small  1   2
    two small  6  11

Question 2:

Experiment How to store a pandas DataFrame as csv file

In [0]:
df.to_csv("Small.csv")

Question 3:

● For IPL_2018 and IPL_2017 DataFrame finds the sum of both DataFrames and store the result in the DataFrame with the name Total.

● Creating a new column to Total DataFrame - 'Win Percentage' and values of that column will be matches won/matches played.

● Sort the teams with the most number of wins.If the number of wins of two teams are the same, sort by the win percentage.

In [0]:
IPL_2018 = pd.DataFrame({'IPL Team': ['CSK', 'SRH', 'KKR', 'RR', 'MI', 'RCB', 'KXIP', 'DD'],
                         'Matches Played': [16, 17, 16, 15, 14, 14, 14, 14],
                         'Matches Won': [8, 15, 9, 7, 6, 6, 6, 5]}
                       )

IPL_2017 = pd.DataFrame({'IPL Team': ['MI', 'RPS', 'KKR', 'SRH', 'KXIP', 'DD', 'GL', 'RCB'],
                         'Matches Played': [17, 16, 16, 15, 14, 14, 14, 14],
                         'Matches Won': [10, 10, 9, 15, 7, 6, 4, 3]}
                       )
IPL_2017.set_index("IPL Team",inplace=True)
IPL_2018.set_index("IPL Team",inplace=True)

In [0]:
df=IPL_2018.add(IPL_2017,fill_value=0)
df

          Matches Played  Matches Won
IPL Team
CSK                 16.0          8.0
DD                  28.0         11.0
GL                  14.0          4.0
KKR                 32.0         18.0
KXIP                28.0         13.0
MI                  31.0         16.0
RCB                 28.0          9.0
RPS                 16.0         10.0
RR                  15.0          7.0
SRH                 32.0         30.0

In [0]:
df["win_percentage"]=df["Matches Played"]/df["Matches Won"]
df

          Matches Played  Matches Won  win_percentage
IPL Team
CSK                 16.0          8.0        2.000000
DD                  28.0         11.0        2.545455
GL                  14.0          4.0        3.500000
KKR                 32.0         18.0        1.777778
KXIP                28.0         13.0        2.153846
MI                  31.0         16.0        1.937500
RCB                 28.0          9.0        3.111111
RPS                 16.0         10.0        1.600000
RR                  15.0          7.0        2.142857
SRH                 32.0         30.0        1.066667

In [0]:
df.sort_values(by=["Matches Won","win_percentage"],ascending=False)

          Matches Played  Matches Won  win_percentage
IPL Team
SRH                 32.0         30.0        1.066667
KKR                 32.0         18.0        1.777778
MI                  31.0         16.0        1.937500
KXIP                28.0         13.0        2.153846
DD                  28.0         11.0        2.545455
RPS                 16.0         10.0        1.600000
RCB                 28.0          9.0        3.111111
CSK                 16.0          8.0        2.000000
RR                  15.0          7.0        2.142857
GL                  14.0          4.0        3.500000