<a href="https://colab.research.google.com/github/manthribharadwaj12/AD/blob/master/Assignment_27_05_20(221710313031).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Generate the following pattern



```
*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
```

In [4]:
for i in range(0,5):
  for j in range(0,5):
    if i>=j:
      print("*",end=" ")
  print("\n")

*

* *

* * *

* * * *

* * * * *

2. Display multiplication table of K. Take k value from user
 	
   Ex:      
   

```
7 x 1 =7 
7 x 2 = 14....
```

In [8]:
k=int(input())
for i in range(1,11):
  print(""+str(k)+"x"+str(i)+"="+str(k*i))

7
7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
7x10=70

3. Roots of quadratic equation

  	Take the coefficients a,b,c from the user

In [9]:
a=int(input())
b=int(input())
c=int(input())
d=(-1*b+(b**2-4*a*c)**(1/2))/2
e=(-1*b-(b**2-4*a*c)**(1/2))/2
print("roots are:",d,e)

5
4
3
roots are: (-1.9999999999999998+3.3166247903554j) (-2-3.3166247903554j)

4. Convert a decimal number to Binary

In [17]:
a=int(input())
bin=""
while(a!=0):
  i=a%2
  bin=bin+str(i)
  a=a//2
bin +="0"
print(bin)

10
01010

5. Generate first N number of Fibonacci numbers. Take N value from the user

In [18]:
n=int(input())
i=0
j=1
print(i,j,end=" ")
c=2
while c!=n:
  k=i+j
  i=j
  j=k
  print(k,end=" ")
  c +=1

5
0 1 1 2 3